{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/css/registrations/signup.css">
{% endblock style %}

{% block main %}
<center>
  <div class="main">
    <h1>Create an Account</h1>
    <form method="post" id="signup_form">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="150" required id="id_username">
        <span class="helptext">Required. 150 characters or fewer. Letters, digits, and @/./+/-/_ only.</span>
      </div>

      <div class="form-group">
        <label for="id_email">Email:</label>
        <input type="email" name="email" maxlength="320" required id="id_email">
        <span class="helptext">Required. Enter a valid email address.</span>
      </div>

      <div class="form-group">
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" required id="id_password1">
        <span class="helptext">
          <ul>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
        </span>
      </div>

      <div class="form-group">
        <label for="id_password2">Password Confirmation:</label>
        <input type="password" name="password2" required id="id_password2">
        <span class="helptext">Enter the same password as before for verification.</span>
      </div>

      <button type="submit">Sign Up</button>
    </form>
  </div>
</center>
{% endblock main %}
