{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}Sign Up{% endblock title %}
  {% block style %}


  {% endblock style %}
</head>

<body>
  {% block main %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}

    <p>
      <label for="id_username">Username:</label>
      <input type="text" name="username" maxlength="150" autofocus required aria-describedby="id_username_helptext"
        id="id_username">

      <span class="helptext" id="id_username_helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_
        only.</span>


    </p>

    <p>
      <label for="merchantid">Merchant ID:</label>
      <input type="text" name="merchantid" maxlength="150" autofocus required aria-describedby="merchantid_helptext"
        id="merchantid">


    </p>

    <p>
      <label for="ssoid">SSOID:</label>
      <input type="text" name="ssoid" maxlength="150" autofocus required aria-describedby="ssoid_helptext" id="ssoid">
    </p>


    <p>
      <label for="id_email">Email:</label>
      <input type="email" name="email" maxlength="320" required aria-describedby="id_email_helptext" id="id_email">

      <span class="helptext" id="id_email_helptext">Required. Enter a valid email address.</span>


    </p>


    <p>
      <label for="id_password1">Password:</label>
      <input type="password" name="password1" autocomplete="new-password" required
        aria-describedby="id_password1_helptext" id="id_password1">

    <p>
      <label for="id_password2">Password confirmation:</label>
      <input type="password" name="password2" autocomplete="new-password" required
        aria-describedby="id_password2_helptext" id="id_password2">
      <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>
    </p>


    <span class="helptext" id="id_password1_helptext">
      <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>
    </span>


    </p>



    <button type="submit">Sign Up</button>
  </form>
  {% endblock main%}

</body>

</html>
{% comment %}
<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
</head>

<body>
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
</body>

</html> {% endcomment %}