<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block style %}{% endblock style %}
</head>
<body>
    <header>
        <nav>
            <h1>Emitra Dashboard</h1>
            <button class="menu-toggle" id="menuToggle">☰</button>
            <ul class="nav-list" id="navList">
                <button class="close-menu deactive" id="closeMenu">×</button>
                <li><a href="/emitra">Emitra</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/advertisements">Advertisements</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Service on Portal</a></li>
                <li><a href="/applications">Track Application</a></li>
                <li><a href="/donations">Donation</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/initiate-transaction">Payment</a></li>
                <li><a href="/payment">Payment Emitra</a></li>
                <li><a href="/form">Form</a></li>
                <li><a href="https://ideedonline.ac.in/index.php?welcome/admit_card">Admit Card</a></li>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                  {% csrf_token %}
                  <button id="BtnLogOut" type="submit">Logout</button>
                </form>
                {% else %}
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                {% endif %}
              </ul>
        </nav>
    </header>
    
    <main>
        {% block main %}{% endblock main %}
    </main>

    <footer>
        <p>&copy; 2024 IDEED. All rights reserved.</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const menuToggle = document.getElementById("menuToggle");
          const navList = document.getElementById("navList");
          const closeMenu = document.getElementById("closeMenu");
      
          menuToggle.addEventListener("click", function () {
            navList.classList.add("active"); // Show the menu
            menuToggle.classList.add("deactive");
            closeMenu.classList.remove("deactive")
          });
          
          closeMenu.addEventListener("click", function () {
            navList.classList.remove("active"); // Hide the menu
            menuToggle.classList.remove("deactive");
            closeMenu.classList.add("deactive")
          });
        });
    </script>
</body>
</html>
