input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:hover{
    border: red  solid;
    border-radius: 10px;
}

button{
    background-color: rgb(127, 127, 234);
    color: white;
    border: 2px solid rgb(66, 66, 198);
    border-radius: 50px;
    margin: 1vh 2px;
    padding: 1vh 1vw;
}

button:hover{
    border: rgb(163, 163, 255) 2px solid;
    background-color: blue;
}